.catalogItems {
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    align-items: stretch;
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
  }
}

.btn {
  color: white;
  font-size: 16px;
  line-height: 16px;
  border-radius: 4px;
  background: #f14f4f;
  padding: 22px 47px;
  width: fit-content;

  &:hover {
    background-color: #cc4949;
  }
  &:active {
    background-color: #8c2828;
  }
}
@media (max-width: 540px) {
  .catalogItems {
    ul {
      grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
  }
}
